
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="/Home/UpdateCustomers">Update Customers</a>

<a href="/Home/UpdateEmployees">Update Employees</a>

<a href="/Home/UpdateCustomerContacts">Update Contacts</a>